.header{
    background-color: #f3f3f3;
    height: 100vh;
    padding-top: 120px;
    
}
.head_section{
    display: flex;
    justify-content: center;
}
.head_title{
    width: 100%;
    max-width: 467px;
}

.head_title h1{
    font-size: 6.8em;
    line-height: 88px;
    font-weight: 700;
}

.head_title p{
    margin-top: 35px;
    font-weight: 400;
    font-size: 1em;
    line-height: 20px;
    margin-left: 7px;
}

.bold_text{
    font-weight: 700;
}

.head_title button{
    width: 170px;
    height: 40px;
    border: 0;
    border-radius: 135px;
    background-color: #F2BE45;
    font-weight: 700;
    font-size: 1em;
    line-height: 15px;
    margin-top: 30px;
    margin-left: 7px;
}

.presentation_text{
    z-index: -1;
    transform: rotate(-40deg);
}

.images_block{
    margin-top: 33px;
    margin-left: 100px;
    position: relative;
    z-index: 1;
}

.images_block .mac_image{
    width: 685px;
}

.pad_image{
    position: absolute;
    left: 0;
    bottom: 0;
}

.text_scroll{
    display: flex;
}

.text_scroll div{
    font-weight: 600;
    font-size: 1.5em;
    white-space: nowrap;
}

.text0 div:nth-child(2){
    animation: animate2 80s linear infinite;
}
.text1 div:nth-child(2){
    animation: animate2 85s linear infinite;
}
.text2 div:nth-child(2){
    animation: animate2 75s linear infinite;
}
.text3 div:nth-child(2){
    animation: animate2 70s linear infinite;
}
.text4 div:nth-child(2){
    animation: animate2 90s linear infinite;
}

.text0 div{
    animation: animate 80s linear infinite;
}
.text1 div{
    animation: animate 85s linear infinite;
}
.text2 div{
    animation: animate 75s linear infinite;
}
.text3 div{
    animation: animate 70s linear infinite;
}
.text4 div{
    animation: animate 90s linear infinite;
}

.text0x div:nth-child(2){
    animation: animate2 80s linear infinite;
    color: #F2BE45;
}
.text1x div:nth-child(2){
    animation: animate2 85s linear infinite;
    color: #F2BE45;
}
.text2x div:nth-child(2){
    animation: animate2 75s linear infinite;
    color: #F2BE45;
}
.text3x div:nth-child(2){
    animation: animate2 70s linear infinite;
    color: #F2BE45;
}
.text4x div:nth-child(2){
    animation: animate2 90s linear infinite;
    color: #F2BE45;
}

.text0x div{
    animation: animate 80s linear infinite;
    color: #F2BE45;
}
.text1x div{
    animation: animate 85s linear infinite;
    color: #F2BE45;
}
.text2x div{
    animation: animate 75s linear infinite;
    color: #F2BE45;
}
.text3x div{
    animation: animate 70s linear infinite;
    color: #F2BE45;
}
.text4x div{
    animation: animate 90s linear infinite;
    color: #F2BE45;
}



@keyframes animate{
    0%{
        transform: translateX(-20%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animate2{
    0%{
        transform: translateX(-20%);
    }
    100%{
        transform: translateX(-100%);
    }
}