.sub_section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 75px 0;
}

.images img{
    max-width: 480px;
}

.reversed_section{
    flex-direction: row-reverse;
}

.images{
    position: relative;
}

.section_text{
    width: 100%;
    max-width: 480px;
    padding: 15px 30px;
    margin-left: auto;
    margin-top: auto;
}

.section_text h2{
    font-weight: 600;
    font-size: 35px;
    padding-bottom: 10px;
}

.blue_text{
    color: #65C8F6;
}
.dark_blue{
    color: #00699A;
}

.section_text button{
    width: 170px;
    height: 40px;
    border: 0;
    border-radius: 135px;
    background-color: #F2BE45;
    font-weight: 700;
    font-size: 1em;
    line-height: 15px;
}

.paragraphs{
    font-size: 1.125em;
    line-height: 22px;
    font-weight: 300;
}

.paragraphs p{
    margin-bottom: 15px;
}

.text_block{
    background-color: #ffffff40;
    backdrop-filter: blur(10px);
    z-index: 1;
    border-radius: 10px;
}
