.section_block{
    height: 100vh;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-around;
}

.reversed{
    flex-direction: row-reverse;
}

.image_side img{
    max-width: 675px;
    width: 100%;
}

.text_side_title{
    padding-bottom: 10px;
}
.text_side_title h2{
    font-size: 41px;
    font-weight: 700;
    color: #2e4051;
}
.text_side_title p{
    font-weight: 300;
    font-size: .8em;
    color: #60bff1;
}


.text_side{
    max-width: 500px;
    width: 100%;
}

.text_side_subs p{
    max-width: 400px;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 18px;
}
@media only screen and (max-width: 1024px) {
    .section_block{
        padding: 0 0 50px 0;
        justify-content: space-around;
    }
    .image_side img{
        max-width: 450px;
    }
    .text_side{
        width: inherit;
    }
}
@media only screen and (max-width: 800px) {
    .section_block{
        flex-direction: column;
    }
    .reversed .text_side_title{
        text-align: right;
    }
    .text_side_subs p{
        max-width: none;
        width: 100%;
    }
}
@media only screen and (max-width: 500px) {
    .text_side_title{
        text-align: center;
    }
    .reversed .text_side_title{
        text-align: center;
    }
    .text_side_subs{
        text-align: center;
    }
}